<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando uma WIKI :</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">WIKIS:</label>
            <!-- <input type="text" name="title" placeholder="Digite seu pensamento de hoje..." > -->
            <textarea id="title" name="title"> </textarea>
           
        </div>
        <input type="submit" value="Criar pensamento">
    </form>
</div>