<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Criar pensamento</a>
  </div>
  <h3>Seus pensamentos</h3>
  <ul>
    {{#each toughts}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
          <form action="/toughts/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Excluir" class="btn">
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyToughts}}
    <p>Ainda não existe nenhum pensamento criado por você  comece a criar por aqui &#128577 </p> 
    <p>Vamos começar a pensar e criar um pensamento &#128516  é por aqui  <span>&#128073;&#127996;</span>  <a href="/toughts/add">Só clicar</a></p>
      

  {{/if}}
</div>