<div class="dashboard">
  <div class="title-container">
    <h2>WIKI JANDÃO</h2>
    <a href="/toughts/add" class="btn">Criar um tutorial!</a>
  </div>
  <h3>SEUS WIKISS</h3>
  <ul>
    {{#each toughts}}
      <li>
        <span class="label">{{this.title}}</span>
        <span class="actions">
          <a href="/toughts/edit/{{this.id}}" class="btn">Editar</a>
          <form action="/toughts/remove" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="submit" value="Excluir" class="btn">
          </form>
        </span>
      </li>
    {{/each}}
  </ul>
  {{#if emptyToughts}}
    <p>Ainda não existe nenhuma Wiki sua ? Crie!,  &#128577 </p>
    <br>
    <p>Vamos criar nossas Wikes &#128516  é por aqui  <span>&#128073;&#127996;</span>  <a href="/toughts/add">Here</a></p>
      

  {{/if}}
</div>