<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Editar WIKI:</h1>
    <form action="/toughts/edit" method="POST">
    <input type="hidden" name="id" value="{{tought.id}}">
        <div class="form-control">
            <label for="title">WIKES:</label>
            <input type="text" name="title" placeholder="Digite seu pensamento de hoje..." value="{{tought.title}}">
        </div>
        <input type="submit" value="Editar pensamento">
    </form>
</div>